.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  background: rgba(22, 46, 37, 0.911);
  box-shadow: 0px 5px 10px rgb(19, 24, 29);
}
.header_logo {
  padding: 5px 20px;
}

.header {
  background: #394969;
  box-shadow: 0px 5px 10px lightslategray;
}

.header__logo {
  padding: 10px 20px;
  color: $my-color;
  font-family: 'Pacifico', cursive;
  font-size: xx-large;

  a {
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
}

.header__right {
  text-align: right;
  padding: 20px 0 0;
}
.header__right__auth {
  display: inline-block;
  margin-right: 25px;

  a {
    font-size: 12px;
    position: relative;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &:after {
      position: absolute;
      right: -8px;
      top: -2px;
      content: '/';
      font-size: 13px;
    }
  }
}

.header__right__widget {
  display: inline-block;

  li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: #111111;
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-size: 18px;
      color: #111111;
      position: relative;

      .tip {
        position: absolute;
        right: -12px;
        top: -11px;
        height: 18px;
        width: 18px;
        background: #111111;
        font-size: 10px;
        font-weight: 500;
        color: $my-color;
        line-height: 18px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}

a::after {
  position: absolute;
  content: '/';
  right: -8px;
}

.widget {
  display: inline-block;
}
li {
  list-style: none;
  display: inline-block;
  color: white;
  margin-right: 20px;
}
